*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body{
  background: burlywood;
  display: grid;
  place-content: center;
  font-family: "Robot,san-serif";
  height: 100vh;
  font-size:2rem;

}

.container{
  height: 80vh;
  width:50vh;
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
  box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
}

.wrapper{
  display:grid;
  height:100%;
  width:100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 10px
}

.screen{
  grid-column: 1 / -1;
  color: white;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
  text-align: right;
}

.btn{
  display: grid;
  place-content: center;
  background-color: rgb(54,52,52);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: gray;

}

.light-gray{
  background-color: gray;
  color: black;
}

.light-gray:hover{
  background-color: white;

}

.orange {
  background-color: orange;
}
.orange:hover {
  background-color: white;
  color: orange;

}

.zero {
  grid-column: 1/ span 2;
  border-radius: 25px;
  place-content: center;
  align-items: center;
  padding-left: 2rem;
}

